.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
body{
    background-image: url("../images/pic2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  /* background-repeat: none;
    background-size: contain; */
}
header {
    grid-column: 1 / 4;
}
.aboutInfo {
    grid-column: 2;
    text-align: center;
    background: rgba(255, 255, 255, .5);
    padding: 1rem;
    margin: 10px;
    border-radius: 1rem;
}

@media only screen and (max-width: 680px) {

    .aboutInfo {
        grid-column: 1 / 4;
        grid-row: auto;
        background: rgba(255, 255, 255, .5);
    }
}