.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    /* color: #444; */
    color: black;
}

header {
    grid-column: 1 / 11;
}

.hamburgerNav{
    grid-column: 1 / span 11;
    grid-row: 2;
    background-color: black;
}
.hamburgerNav a{
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.favouriteImages {
    grid-column: 1 / 11;
}
.favCard{
    display: inline-block;
    /* background: rgba(255, 255, 255, .5); */
    background-color: lightgray;
    text-align: center;
    position: center;
    padding: 5px;
    border-radius: 5px;
}
img:hover{
    opacity: 0.5;
}
