.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    color: #444;
}

header {
    grid-column: 1 / 11;
}

.hamburgerNav{
    grid-column: 1 / span 11;
    grid-row: 2;
    background-color: black;
}
.hamburgerNav a{
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.favouriteImages {
    grid-column: 1 / 11;
}