.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header{
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}

.hamburgerNav{
    margin: 1rem 0 1rem 0;
}

.nested{
    display: grid;    
    grid-template-columns: 20% 60% 20%;
    text-align: center; 
    border-radius: 5px;
    padding: 2rem;
    grid-column: 1 / span 2;
    grid-row: 3 ;
    /* margin: 1rem 0 1rem 0; */
}
.innerNested{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 2;
    padding: 50px;

}

div{
    padding: 10px;
}
form{
    grid-column: 1 / span 2;

}

img{
    grid-column: 1 / span 2;
}

.hero-img{
    display: grid;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/pic2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
 
h3{
    text-align: center;
    grid-column: 2;
    color: white;
    font-size: 150%;
}

@media only screen and (max-width: 680px) {

    h3{
        grid-column: 1 / 4;
        grid-row: auto;
    }
    .innerNested, input{
        grid-row: auto;
        position: relative;
    }
}

