.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}
.hamburgerNav{
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: black;
}
.hamburgerNav a{
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nested {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 1 / span 3;
}

div {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.userNested, .imgNested {
    background-color: bisque;
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2;

    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    margin: 5px;
}

.favNested {
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    margin: 5px;
}

@media only screen and (max-width: 680px) {
    .card, .userNested, .favNested, .imgNested {
        grid-column: 1 / 4;
        grid-row: auto;
    }
}