/* #FF69B4 */

/* .grid-container{
    background-color: #FF69B4;
} */

.nested {
    display: grid;
    grid-template-columns: 50% 50%;
}

div {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.userNested, .imgNested {
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    margin: 5px;
}

.favNested {
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    margin: 5px;
}

@media only screen and (max-width: 680px) {
    .card, .userNested, .favNested, .imgNested {
        grid-column: 1 / 4;
        grid-row: auto;
    }
}