html{
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    color: #444;
}
.box {
    background-color: slateblue;
    color: black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%
}

.singleView{
    display: grid;
    grid-template-columns: auto 1fr;
    margin: var(--grid--gap);
}
#singlePicInfo{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto auto;
    grid-column: 2 / 3;
    padding-left: 15px;
}
#singlePic{
    grid-column: 1 / 2;
    margin-right: var(--grid-gap);
    background-color: lightcoral;
}
#singlePicDetails{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: left;
}
#favoritesButton button {
    margin: 10px 0px 10px 150px;
    width: 200px;
    position: absolute;
    right: 50px;
}
.tabBox{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    height: 200px;
    width: inherit;
    background-color: green;
    color: black;
    text-align: center;
}
#descriptionsTab{
    border-radius: 5px;
    box-shadow: 3px 3px 3px 1px black; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-column: 1 / 4;
    grid-row: 2 / 3;

}
.itemTab{
    height: fit-content;
    grid-column: span 1;
    grid-row: 1/ 2;
}

@media only screen and (max-width: 680px) {

    #singlePic, #singlePicInfo {
        grid-column: 1 / 3;
        grid-row: auto;
    }
}